<!DOCTYPE html>
<html ng-app="bookApp">
<head>
  <meta charset="utf-8">

  <title>DerekPeruoFrontend</title>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="app/css/app.css">


</head>
<body class="container" ng-controller="ctrl as ctrl">

  <div class="row">
    <div class="col-xs-12">
      <h1>Q3. Book List</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Add New Book</h2>
      <!-- <pre>{{ctrl.newBook | json}}</pre> -->
    </div>
  </div>

  <div class="row">
    <form class="col-xs-12 form-inline" name="newBookForm" ng-model="ctrl.newBook">
      <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title"  ng-model="ctrl.newBook.title"  placeholder="Title">
      </div>

      <div class="form-group">
        <label class="sr-only" for="author">Author</label>
        <input type="text" class="form-control" id="author" name="author"  ng-model="ctrl.newBook.author"  placeholder="Author">
      </div>

      <div class="form-group">
        <label class="sr-only" for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price"  ng-model="ctrl.newBook.price"  placeholder="Price">
      </div>

      <div class="form-group">
        <label class="sr-only" for="qty">Qty</label>
        <input type="number" class="form-control" id="qty" name="qty"  ng-model="ctrl.newBook.qty"  placeholder="Qty">
      </div>

      <button class="btn btn-primary" type="submit" ng-click="ctrl.saveNewBook(ctrl.newBook)">save new book</button>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>My Local Library</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <td>No.</td>
          <td>Title</td>
          <td>Authod</td>
          <td>Pice</td>
          <td>Qty</td>
          <td>Delete?</td>
        </thead>
        <tbody>
          <tr ng-repeat="book in ctrl.bookList">
            <td>{{$index + 1}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price | currency}}</td>
            <td>{{book.qty}}</td>
            <td>
              <button class="btn btn-danger" type="button" ng-click="confirmDelete = !confirmDelete" ng-hide="confirmDelete">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              <button class="btn btn-default" type="button" ng-click="confirmDelete = !confirmDelete" ng-show="confirmDelete">
                <span class="glyphicon glyphicon-ban-circle"></span> cancel
              </button>
              <button class="btn btn-danger" type="button" ng-click="ctrl.deleteBook($index)" ng-show="confirmDelete">
                <span class="glyphicon glyphicon-remove"></span> delete
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td>Total</td>
          <td></td>
          <td></td>
          <td>Price</td>
          <td>Qty</td>
          <td></td>
        </tfoot>
      </table>
    </div>
  </div>



<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="app/js/ng-stash.js"></script>
<script src="app/js/bookFactory.js"></script>
<script src="app/js/app.js"></script>
</body>
</html>
